<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="YCHET.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <YCHET.Settings1>
            <setting name="TelegramBotToken" serializeAs="String">
                <value>7786719832:AAFC_dfipHK92YRa-Abg6fOfUCHEQTq-384</value>
            </setting>
            <setting name="TelegramChatId" serializeAs="String">
                <value>2136581090</value>
            </setting>
        </YCHET.Settings1>
    </userSettings>
</configuration>